@media(max-width:1199px){	
.logo img{
	width:100%;
	}	
.logo {
  float: left;
  margin-top: 5px;
}
.after_login .log_cart {
	float: left;
	width: 40px !important;
}
.log_cart ul li{
	margin-right:4px;
	}
.log_cart ul li a {
  font-size: 15px;
  height: 28px;
  line-height: 28px;
  width: 28px;
}
.log_cart ul {
  margin-top: 7px !important;
}
.menu_area .navbar-nav li a{
	font-size:13px;
	padding:10px 5px;
	}
.menu_area .navbar-nav li a i {
  font-size: 15px;
}
.menu_area .navbar-nav li:first-child a {
  font-size: 13px;
}
.cat_head{
	font-size:15px;
	padding:10px 5px 8px 18px;
	}
.category_left ul a{
	line-height:27px;
	}
.product_head h2{
	font-size:20px;
	}
.line{
	width:58%;
	}
.body_4 .line {
  width: 60%;
}
.body_5 .line {
  width: 68%;
}
.open_mmnu li a{
	padding:4px 13px !important;
	}
.dashboard_header{
	width:45%;
	}
.inner_head_2 .line {
	width: 74%;
}
.left_dash{
	margin-right:30px;
	}
.top_dash_l{
	width:67%;
	}
.left_refine {
    width: 25%;
}
.search_productt {
    width: 75%;
}
.search_bner {
    height: 100px;
}
.searchh_itemm {
    width: 31%;
    margin: 0 0 20px 2%;
}	
.spe_infoo5 {
    width: 22%;
}
.seller_left_sidee {
    padding: 11px 12px;
}
.seller_left_sidee span img {
    margin: -6px 0px 0 0px;
}
.seller_right_sidee {
    margin-bottom: 42px;
}
.in_boxx1 {
    padding: 11px 8px 10px 9px;
}
.in_boxx1 h3 {
    font-size: 18px;
}
.in_boxx1 img {
    width: 37px;
}
.in_boxx1 span {
    top: 11px;
    right: 7px;
}
.in_boxx1 h4 {
    font-size: 22px;
}

.ss_all_details h1 span {
    width: 72%;
}
.revv_boxx ul li img{
	width: 16px;
}
.revv_boxx h6 {
    margin: 0 8px 0 0 !important;
}
.comp_box_colum p {
    height: 262px;
}
.hht_fht1 {
    height: 344px;
}
.ttp_hhd2 > span {
    width: 79%;
    top: 17px;
}
.da_forr5{
	width: 31%;
	margin: 25px 21px 5px 0px !important;
}
.no_mrg_rr{
	margin-right:0 !important;
}
.forr_c_pass{
	width: 68%;
	padding: 16px 44px;
}
.pro_table .tab_head_sheet_1 p{
	font-size:13px;
	}
.make1199 .item_img{
	margin-top:5px;
	}	
.make1199 .add_ttrr{
	font-size:13px;
	}	
.right_add img {
	width: 100%;
}	
.blog_head .line {
    width: 90%;
}	
.blog_image {
    height: 134px;
}	
.linee {
	width: 70%;
}
.carlamm66 > span {
    width: 67% !important;
	top: 26px !important;
	right: 21% !important;
}
.line {
    width: 52%;
}
.line_ar01{
	width: 70%;
}
.line_ar02{
	width: 67%;
}
.line_ar03{
	width: 54%;
}
.line_ar04{
	width: 69%;
}
.line_ar05{
	width: 66%;
}
.in_boxx1 h3 {
    font-size: 15px;
}
.ndd_daa span img {
    width: 22px;
}
.seller_pss_btnn a {
    font-size: 18px;
    padding: 13px 6px 12px 5px;
}
.mid_banner {
    height: 182px;
}
.right_add {
    height: 182px;
}
.banner .carousel-indicators {
    top: 154px;
}

/*23.10-footer changes css*/	
.footer_mb01{
	width:32%;
}
.footer_mb02{
	width:27%;
}
.footer_mb03{
	width:41%;
}
.make_ul {
    width: 40%;
}
/*23.10-footer changes css*/

.buyy_noww {
    font-size: 15px;
    width: auto;
    padding: 15px 15px 0 15px;
    margin: 18px 0 0 12px;
}	
.add_to {
    font-size: 15px;
    width: auto;
    padding: 15px 15px 0 15px;
    margin: 18px 0 0 0;
}






/*seller_public_profile1*/
.sellern03 a {
    font-size: 19px;
    padding: 0;
    color: #0093d1;
    font-size: 16px;
    background: none;
}
.sellern05 h1 span {
    width: 84%;
    top: 12px;
}
.new_seller1 {
    height: 143px;
}

/*seller_public_profile2*/
.picc_uscc{
	width: 8%;
}
.picc_uscc2{
	width:15%;
}
.picc_uscc3{
	width:75%;
}
.new_seller_pagg22{
    height: 187px;
}
.seller_page2_2 {
    width: 56%;
}
.seller_page2_3 {
    width: 22%;
}



/*seller_public_profile3*/
.czpp {
    padding: 5px 12px;
}


/*seller_public_profile4*/
.autoo_didthh{
	width: 30.5% !important;
}

}
/*1199*/





@media(max-width:991px){	
.type_search{
	width:85%;
}
.cat_head {
    font-size: 13px;
}
.category_left ul a{
	font-size:12px;
	padding: 0 5px 0 8px;
	line-height: 20px;
}
.category_left ul a img {
  margin-right: 6px;
  width: 9%;
}
.banner .carousel-indicators{
	left:102%;
}
.product_head h2 {
  font-size: 18px;
}
.product_head{
	width:100%;
}
.line {
    width: 48%;
	margin:11px;
}
.product_head p{
	font-size:14px;
}
.body_4 .line {
  width: 52%;
}
.body_5 .line {
  width: 63%;
}
.fot_box_last{
	margin-top:25px;
}
.cnt ul{
	width:50% !important;
}
.open_mmnu{
	z-index:99999 !important;
}	
.menu_dash p{
	display:none;
}	
.dashboard_header {
	width: 30%;
}
.inner_head_2 .line {
	width: 68%;
}
.inner_head h2{
	font-size:20px;
}	
.blog_section, .dash_board{
	margin-top:15px;
}	
.left_dash {
	margin-right: 20px;
}
.left_dash ul li a{
	padding: 8px 5px 7px 10px;
	font-size:14px;
}	
.left_dash ul li a img{
	width:11%;
}	
.top_dash_l {
	width: 100%;
	margin: 0 0 15px 0;
}
.top_dash_r{
	width:100%;
	}	
.top_dash_r span{
	display:block;
	}	
.below_dash{
	margin-top:20px;
	}	
.info_box{
	width:100%;
	margin:0 0 15px 0;
	min-height:auto;
	}	
.dash_head{
	font-size:22px;
	}
.top_dash{
	margin-top:12px;
	}	
.make_check{
	margin-top:10px;
	}	
.tab_head_sheet_1 p{
	font-size:15px;
	}	
.left_refine {
    width: 28%;
}	
.search_productt {
    width: 70%;
}
.search_bner {
    height: 72px;
}	
.searchh_itemm {
    width: 46%;
	margin: 3px 0 20px 4%;
}	
.menu_area .navbar-nav li a {
    padding: 4px 5px;
}
.left_slider_area {
    padding: 10px;
}
.right_side_descc h2 {
    line-height: 31px;
    font-size: 21px;
}
.right_side_descc h3 {
    line-height: 20px;
    font-size: 20px;
}
.nwsubmnu{
	margin-top: -29px !important;
	background: #FFF !important;
}
.add_to {
    width: 147px;
    height: 42px;
    padding: 10px 5px 0 5px;
	margin: 6px 14px 6px 0;
}
.buyy_noww{
	width: 147px;
    height: 42px;
    padding: 10px 5px 0 5px;
	margin: 6px 0 8px 0;
}
.spe_infoo5 {
    width: 30%;
}
.spe_infoo6 {
    width: 68%;
}
.prodd_desc {
    margin: 18px 0 23px 0;
}
.rev_rett {
    padding: 0 0 7px 0;
    margin: 4px 0 15px 0;
}
.rev_rett > span {
    padding: 6px 0 0 0;
}
.order_left{
	width:100% !important;
	margin:0 0 15px 0 !important;
}
.order_right{
	width:100% !important;
}
.order_left ul li a img{
	width:auto !important;
}
.seller_left_sidee {
    width: 35%;
}
.seller_right_sidee {
    width: 64%;
}
.ss_all_details h1 span {
    display: none;
}
.in_boxx1 {
    width: 48%;
}
.ss_all_details h6 {
    margin: 0 22px 0 0 !important;
}
.seller_left_sidee h3 {
    margin: 11px 0 13px 0 !important;
}
.ss_all_details h1 {
    font-size: 22px;
    margin: 8px 0 12px 0 !important;
}
.revv_boxx {
	width:100% !important;
    margin: 0 0 20px 0;
}
.comp_box_colum p {
    height: 300px;
    font-size: 15px;
    line-height: 26px;
}
.hht_fht1 {
    height: 383px;
}
.for_box_one h2 {
    padding: 11px 10px 14px 5px;
}
.comp_box_colum h1 {
    font-size: 18px;
}
.ttp_hhd2 > span {
    width: 72%;
    top: 17px;
}
.da_forr5 {
    width: 47%;
    margin: 15px 14px 0px 0px !important;
}
.no_mrg_rr{
	margin: 15px 14px 0px 0px !important;
}
.forr_c_pass{
	width: 80%;
	padding: 16px 20px;
}

.pro_table .tab_head_sheet_1 {
	padding: 10px;
	height: auto;
	display: initial !important;
	float: left;
	width: 100% !important;
	text-align:left;
}
.pro_table .W55_1 {
	display: inline-block;
	width: 50%;
	float: left;
	font-size: 16px;
}
.pro_table .tab_head_sheet_1 p {
	font-size: 15px;
}


.history_table .tab_head_sheet_1 {
	padding: 10px;
	height: auto;
	display: initial !important;
	float: left;
	width: 100% !important;
	text-align:left;
}
.history_table .W55_1 {
	display: inline-block;
	width: 50%;
	float: left;
	font-size: 16px;
}
.history_table .tab_head_sheet_1 p {
	font-size: 15px;
}
.history_table .cell1 a{
	display:contents;
	}
.seller strong {
	display: inline-block;
	width: auto;
	text-align: left;
	float: left;
}
.seller strong img{
	padding:0 10px 0 0 !important;
	}
.history_table .seller{
	text-align:left;
	}
.finance_table .tab_head_sheet:first-child{
	padding-left:20px;
	}
.my_sale_table .tab_head_sheet:first-child{
	padding-left:20px;
	}
.my_sale_table .tab_head_sheet_1 {
	padding: 10px;
	height: auto;
	display: initial !important;
	float: left;
	width: 100% !important;
	text-align:left;
}
.my_sale_table .W55_1 {
	display: inline-block;
	width: 50%;
	float: left;
	font-size: 16px;
}
.my_sale_table .tab_head_sheet_1 p {
	font-size: 15px;
}
.fr_sd {
	float: left;
}

.blog_image {
	width: 23%;
	height: 105px;
	margin-right: 15px;
}
.blog_details{
	width:74%;
	}
.blog_box{
	padding:10px;
	}
.blog_details h3 a{
	font-size:20px;
	}
.blog_details p{
	font-size:15px;
	}
.view_m{
	font-size:14px;
	}
.blog_time ul li{
	font-size:14px;
	margin-right:10px;
	}

/*12.10.2017_rabin*/
.cuponne_area input[type="text"] {
    width: 226px;
	font-size: 17px;
}
.rightt_btn_twoo input[type="button"] {
    font-size: 17px;
    padding: 7px 12px;
    height: 42px;
}
.cuponne_area input[type="submit"] {
    font-size: 17px;
    padding: 7px 10px 8px 10px;
    width: 107px;
    height: 42px;
}
.sp_tptall_area p {
    margin: 0 0 19px 0 !important;
    padding-right: 11%;
}
.tbl_sl_logo {
    width: 70px;
    height: 58px;
}
.fd_ddaaaa {
    width: 195px;
    margin: 0 5% 23px 0;
}
.thss_ff p {
    margin: 0 0 2px 0 !important;
    padding-right: 0%;
    font-size: 18px;
}
.below_cckc {
    margin: 10px 0 25px 0;
    padding: 10px 0;
}
.linee {
	width: 64%;
}
.carlamm66 > span {
    width: 58% !important;
    top: 26px !important;
    right: 27% !important;
}
.line {
    width: 43%;
}


.line_ar01{
	width: 64%;
}
.line_ar02{
	width: 59%;
}
.line_ar03{
	width: 44%;
}
.line_ar04{
	width: 63%;
}
.line_ar05{
	width: 59%;
}
.seller_pss_btnn {
    width: 48%;
}
.seller_pss_btnn a {
    width: 100%;
}
.ndd_daa span img {
    width: 30px;
}
.in_boxx1 h3 {
    font-size: 18px;
}
.mid_banner {
    height: 140px;
}
.right_add {
    height: 140px;
}
.banner .carousel-indicators {
	bottom: auto;
	top: 114px;
	right: 0;
	width: 100%;
	left: 0;
	margin: 0;
	padding: 0 15px 0 0;
	text-align: right;
}

/*23.10-footer changes css*/
.footer_mb01 {
    width: 34%;
}	
.footer_mb02 {
    width: 25%;
}
.footer_mb03 {
    width: 41%;
}
.address li i {
    font-size: 15px;
    width: 21px;
}
.make_ul {
    width: 48%;
}
.fot-social li a i {
    font-size: 13px;
}
.fot-social li a {
    height: 30px;
    width: 30px;
}
.fot-social li {
    margin-right: 7px;
}
.fot-social {
    margin-top: 30px !important;
}
/*23.10-footer changes css*/




/*seller_public_profile3*/
.pscc_listt_03 span img {
    max-width: 54px;
}
.pscc_listt_03 h3 {
    font-size: 17px;
    margin: 3px 0 0 0 !important;
    height: 48px;
}
.pscc_listt_03 {
    padding: 10px 14px 9px 14px;
}
.pscc_listt_03 h4 {
    font-size: 17px;
}
.productt_tths .item {
    width: 23%;
    margin: 0 1% 3% 1%;
}
.czpp h3 {
    margin: 0 0 6px 0 !important;
}



/*seller_public_profile4*/
.seller_page2_3 {
    width: 100%;
	margin-top: 0;
	border: 1px solid #e7e9e8;
	padding: 10px 12px;
	background: #ededed;
	margin-bottom:30px;
}
.sellern03 {
    width: 100% !important;
}
.autoo_didthh {
    width: auto !important;
    display: none;
}
.new_seller_pagg22 {
    height: 201px;
}
}
/*991*/



@media(max-width:767px){	
.logo{
	text-align:center;
	margin-bottom:15px;
	}
.logo img {
  width: auto;
}
.type_search {
  width: 90%;
}
.log_cart {
  margin-right: 24px;
}
/*.language{
	float:left;
	}*/
.menu_area .navbar-toggle{
	border:none !important;
	}
.menu_area .navbar-inverse .navbar-toggle:focus, .menu_area .navbar-inverse .navbar-toggle:hover{
	background:none !important;
	}
.menu_area .navbar-toggle .icon-bar {
  height: 3px;
  width: 27px;
}
.menu_area .navbar-inverse .navbar-collapse, .menu_area .navbar-inverse .navbar-form{
	border-color: #fff ;
	}
.category_left{
	width:100%;
	margin-bottom:15px;
	}
.category_left ul a img{
	width:auto;
	}
.category_left ul a{
	line-height:28px;
	}
.mid_banner{
	width:65%;
	padding-left:0px;
	}
#myNavbar{
	z-index:999;
	position:absolute;
	width:100%;
	background:#b3b3b3;
	}
.fot_box {
  float: left;
  margin-bottom: 25px;
  width: 100%;
}
.fot_box_last{
	margin-top:0px;
	}
.fot-social{
	margin-top:15px !important;
	}
.language .btn-primary{
	padding:9px 10px !important;
	}
.top_header{
	padding:8px 0 14px;
	}
.menu_area .open_mmnu li a{
	color:#fff !important;
	}
.left_dash {
	margin-right: 0;
	width: 100%;
	margin-bottom:15px;
}
.left_dash ul li a img{
	width:auto;
	}
.inner_head h2 {
	font-size: 18px;
}
.board_details{
	width:100%;
	}
.dash_head {
	font-size: 18px;
	padding-bottom: 5px;
}
.top_dash_l h4{
	margin-bottom: 6px !important;
	font-size: 15px;
	}
.top_dash_l p{
	font-size:14px;
	}
.top_dash_r h4{
	font-size:16px;
	}
.top_dash_r span{
	font-size:14px;
	margin:0 !important;
	}
.info_box h4{
	font-size:16px;
	}
.details_box h3{
	font-size:18px;
	}
.name_label{
	font-size:15px;
	}
.sub_btn{
	margin-top:10px;
	}
.tab_head_sheet_1 p{
	font-size:15px;
	}	
.cell1:first-child {
    padding-left: 10px;
}
.tab_head_sheet_1 {
    padding: 10px;
    height: auto;
	display: initial !important;
	float: left;
	width: 100% !important;
}	
.W55_1 {
    display: inline-block;
    width: 50%;
	float:left;
	font-size: 16px;
}
.add_ttrr{
	width: 48%;
	float:right;
	}
.item_img{
	margin-bottom:5px;
	margin-left:15px;
	}
.cell1 a {
	margin-left: 15px;
}	
.small_clopus_style {
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
}
.ns {
    float: left;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    background: #f29302 !important;
    width: 100%;
    text-align: left;
    margin: 0;
	margin-bottom: 0px;
    margin-bottom: 0px !important;
    line-height: 34px;
	border: none;
	color: #FFF;
	border-radius: 2px;
	padding-left: 7px !important;
}
.ns:hover {
    background: #0192d1 !important;
}
.ns:focus {
    background: #0192d1 !important;
}
.ns img {
    margin-right: 5px;
}
.ncomm{
	margin: 0 !important;
	padding: 2px 12px !important;
	border: none !important;
	border-radius: 0px !important;
}
.search_productt {
    width: 100%;
}
.search_bner {
    height: auto;
	height:inherit;
}
.bread_cc {
    margin: 26px 0 9px 0;
}
.ns img {
    margin-right: 5px;
}
.search_productt {
    padding-left: 0;
}
.search_bner {
    width: 100%;
}
.top_lls99 {
    width: 100%;
}
.searchh_itemm {
    width: 47%;
    margin: 3px 0 20px 2%;
}
.navbar-toggle {
    padding: 0px 10px !important;
}
.menu_area .navbar-nav li a {
    padding: 7px 5px;
}

.nwsubmnu{
	margin-top: 0px !important;
	background: #FFF !important;
}
.left_slider_area {
    width: 100%;
    margin-bottom: 20px;
}
.right_side_descc {
    width: 100%;
    padding-left: 0;
}
.seller,.seller strong{
	text-align:left;
	}	
.history_table .cell1 a{
	display:contents;
	}	
.seller_left_sidee {
    width: 100%;
	margin-bottom: 25px;
}
.seller_logoo {
    height: 175px;
}
.seller_right_sidee {
    width: 100%;
}
.in_boxx1 {
    width: 100%;
    margin: 0 0 13px 0;
}
.ss_all_details {
    padding-left: 0;
}
.ss_all_details h6 {
    margin: 10px 0 0px 0 !important;
    width: 100%;
}
.tab-content {
    padding: 12px 0;
}
/*prakash_2 10.10.17*/	
.pro_table .tab_head_sheet_1 {
	text-align: left;
}
.revv_boxx h2 {
    font-size: 18px;
}
.revv_boxx h6 {
    margin: 9px 0 1px 0 !important;
    width: 100%;
}
.revv_boxx {
    width: 94% !important;
    margin: 10px 3% 10px 3%;
}
.for_box_one{
	display:none !important;
}
.comp_box_colum {
    width: 50%;
}
.comp_box_colum p {
    height: 140px;
}
.comp_box_colum{
	margin-bottom:20px;
}
.comp_box_colum > a {
    margin-bottom: 19px;
}
.comp_box_colum h5 {
    padding: 6px 5px 5px 5px;
}
.ttp_hhd2 > span {
    width: 68%;
}


/**/
.history_table .cell1:last-child {
    padding-right: 10px;
	padding-left: 10px;
}
.history_table .cell1:first-child {
    padding-right: 10px;
	padding-left: 10px;
}
.nn_rbnn p{
	float: left !important;
	width:50% !important;
}
.fr_sd {
    float: left;
    margin: 0 0 0 12px;
}
.board_details {
    padding: 10px;
}
.forr_c_pass{
	width: 98%;
	padding: 12px 14px;
	margin-bottom:20px;
	margin-top: 45px;
}
.history_table .cell1 a img{
	margin-left:10px;
	}
/*12.10.2017_rabin*/
.sp_tptall_area p {
    margin: 0 0 19px 0 !important;
    padding-right: 0;
}
.cuponne_area {
    width: 100%;
	margin-bottom:20px;
}
.cuponne_area input[type="text"] {
    width: 80%;
	margin-right:2%
}
.cuponne_area input[type="submit"] {
    width: 18%;
	margin:0 !important;
}
.rightt_btn_twoo {
    width: 100%;
}
.tbl_sl_logo {
    width: 62px;
    height: 50px;
    margin: 0 !important;
}
.fd_ddaaaa {
    width: 195px;
    margin: 0 2% 23px 0;
}
.thss_ff p {
    margin: 0 !important;
    padding-right: 0%;
    font-size: 17px;
}
.below_cckc .info_box {
    margin: 0 0 25px 0;
    width: 100%;
}	
.linee {
	width: 63%;
}	
.carlamm66 > span {
	display:none;
}
.line {
	display:none;
}
.nw_ditth{
	display:none;
}
.line_ar01{
	display:none;
}
.line_ar02{
	display:none;
}
.line_ar03{
	display:none;
}
.line_ar04{
	display:none;
}
.line_ar05{
	display:none;
}
.seller_pss_btnn {
    width: 100%;
	margin-bottom:20px;
}
.seller_pss_btnn a {
    font-size: 19px;
    padding: 6px 6px 8px 5px;
}
/*23.10-footer changes css*/
.footer_mb01 {
    width: 50%;
}	
.footer_mb02 {
    width: 50%;
}
.footer_mb03 {
    width: 100%;
}
.fot_box {
    margin: 12px 0 0 0;
}
.make_ul {
    width: 50%;
}
.top_footer {
    padding: 18px 0 21px 0;
}
/*23.10-footer changes css*/	




.right_add {
    width: 28%;
	height: 140px;
}
.mid_banner {
	width: 70%;
	margin-right:2%;
    height: 140px;
}
.banner .carousel-indicators {
	bottom: auto;
	top: 114px;
	right: 0;
	width: 100%;
	left: 0;
	margin: 0;
	padding: 0 15px 0 0;
	text-align: right;
}
.add_to {
    margin: 6px 0 6px 0;
}
.buyy_noww {
    margin: 6px 0 8px 10px;
}
.product_head p {
    float: right;
    padding-right: 105px;
}





/*seller_public_profile3*/
.new_seller22 {
    height: 84px;
}
.pscc_listt_03 h3 {
    margin: 3px 0 5px 0 !important;
    height: auto;
}
.pscc_listt_03 {
    height: 127px;
}
}
/*767*/

@media(max-width:720px){
.log_cart {
  margin-right:3px;
}
.line{
	width:43%;
	}
}
/*720*/

@media(max-width:680px){
.make_search{
	width:67% !important;
	}
.type_search {
  width: 84%;
}
.make_log{
	width:29% !important;
	padding:0px !important;
	}
.linee {
	width: 58%;
}
}
/*680*/

@media(max-width:640px){
.right_add {
    width: 30.5%;
}
.mid_banner{
	width:69%;
	}	
.line{
	display:none;
	}	
.product_head p{
	float:right;
	padding-right:105px;
	}	
.love{
	right:37px;
	}	
.signup_area {
    width: 90%;
	margin-top: 35px !important;
	margin-bottom: 35px !important;
}
.ttp_hhd2 > span {
	display:none;
}	
.fr_sd {
    margin: 0;
}
.item_img {
	margin-bottom: 5px;
	margin-left: 10px;
}
.cell1 a {
	margin-left: 10px;
}
.blog_image {
    width: 22%;
    height: 87px;
    margin-right: 10px;
}
.linee {
	width: 52%;
}
.right_add {
    width: 28%;
	height: 132px;
}
.mid_banner {
	width: 70%;
	margin-right:2%;
    height: 132px;
}
.banner .carousel-indicators {
    bottom: auto;
    top: 104px;
}




/*seller_public_profile3*/
.pscc_listt_03 {
    height: 123px;
    width: 100%;
    margin: 0 0 15px 0;
}
.productt_tths .item {
    width: 30%;
    margin: 0 1% 3% 2%;
}

}
/*640*/




@media(max-width:600px){
.in_boxx1 {
    padding: 7px 8px 4px 9px;
}
.comp_box_colum {
    width: 100%;
}
.comp_box_colum p {
    height: auto;
}
.nav-tabs > li > a {
    font-size: 18px;
    padding: 7px 20px !important;
}
.nav-tabs > li.active > a {
    font-size: 18px;
    padding: 7px 20px;
}
.linee {
	width: 48%;
	display:none;
}
}
/*600*/

@media(max-width:560px){
.add_2{
	width:100%;
	padding:0px;
	margin-bottom:10px;
	}
.add_3{
	width:100%;
	padding:0px;
}
.love{
	right:10px;
}
.inner_head h2 {
	font-size: 16px;
}
.right_side_descc h2 {
    line-height: 31px;
    font-size: 20px;
}
.blog_image {
	height:74px;
	}
.linee {
	width: 20%;
}
.make_search {
	width: 60% !important;
}
.type_search {
	width: 80%;
}
.make_log {
	width: 34% !important;
}
}
/*560*/


@media(max-width:500px){
.make_search{
	width:55%;
}	
.make_log{
	width:35% !important;
}
.add_to {
    margin: 6px 10px 6px 0;
}
.buyy_noww {
    margin: 6px 10px 8px 0;
}
}
/*500*/


@media(max-width:480px){
.make_search {
  width: 60% !important;
}
.type_search {
  width: 76%;
  font-size: 13px;
  height: 35px;
}
.submit_search{
	height:35px;
	width:40px;
	}
.make_log {
  width: 40% !important;
}
.language{
	margin-right:1px;
	}	


.banner .carousel-indicators {
  left: 92%;
  bottom:-2px;
}	
.after_login .log_cart{
	margin-left:10px;
}
.f_name {
    width: 100% !important;
}
.l_name {
    width: 100% !important;
}
.login_bt_arera h5 {
    font-size: 17px;
    padding: 10px 5px 12px 5px;
	line-height: 22px;
}
.borrdd {
    padding-right: 0 !important;
}
.login_bt_arera > a {
    padding: 10px 5px 12px 5px;
}
.add_addres{
	font-size:15px;
	}
.searchh_itemm {
    width: 100%;
    margin: 0 0 20px 0%;
}
.searchh_dessc {
    height: auto;
}
.comp_box_colum > a {
    width: 90%;
    margin-left: 5%;
}
.history_table .cell1 a img{
	margin-left:4px;
	}
.blog_image {
	height: 65px;
}	


.right_add {
    width: 100%;
	height: auto;
}
.mid_banner {
	width: 100%;
	margin-right:2%;
    height: 132px;
	margin-bottom:20px;
}
.banner .carousel-indicators {
    bottom: auto;
    top: 104px;
}
.banner .carousel-indicators {
    bottom: auto;
    top: 104px;
	right: 0;
	width: 100%;
	left: 0;
	margin: 0;
	padding: 0 15px 0 0;
	text-align: right;
}

/*23.10-footer changes css*/
.footer_mb01 {
    width: 100%;
}	
.footer_mb02 {
    width: 100%;
}
.footer_mb03 {
    width: 100%;
}
.fot-social {
    margin: 0 0 10px 0 !important;
}
/*23.10-footer changes css*/
}
/*480*/




@media(max-width:479px){
.spe_infoo5 {
    width: 46%;
}
.spe_infoo6 {
    width: 54%;
}
.for_abt p {
    font-size: 16px;
    text-align: left;
}
.ss_all_details p{
	font-size: 16px;
    text-align: left;
}
.nav-tabs > li > a {
    font-size: 18px;
    padding: 7px 20px !important;
	margin-right: 8px !important;
}
.nav-tabs > li.active > a {
    font-size: 18px;
    padding: 7px 20px;
}


/*seller_public_profile3*/
.for_abt p {
    font-size: 15px;
    line-height: 24px;
}
.productt_tths .item {
    width: 23%;
    margin: 0 1% 3% 1%;
}

}

@media(max-width:450px){

.slide_area .item{
	width:100%;
	}
.owl-carousel .owl-item img {
  display: block;
  float: none;
  margin: auto;
  text-align: center;
  width: auto !important;
}
.product_head h2 {
  font-size: 15px;
}
.product_head p{
	display:none;
	}
.make_ul{
	width:100%;
	}
.blog_image {
	height: 158px;
	width: 100%;
	margin: 0 0 10px 0;
}
.blog_details {
	width: 100%;
}	
.cuponne_area input[type="text"] {
    width: 74%;
	margin-right:2%
}
.cuponne_area input[type="submit"] {
    width: 24%;
	margin:0 !important;
}
}
/*450*/

@media(max-width:408px){
	.make_search {
	width: 52% !important;
}
.make_log {
	width: 45% !important;
}
.type_search {
	width: 74%;
}
}


@media(max-width:400px){	
.addr_stll4 ul li span {
    width: 100%;
}
.linee {
	width: 15%;
}
.fot_box ul li {
    margin-bottom: 7px;
}
}
/*400*/


@media(max-width:382px){
.login_bt_arera > a {
    width: 100%;
}
.login_bt_arera > a {
    padding: 5px;
}
.pagination > li > a, .pagination > li > span {
    padding: 4px 8px !important;
}
.add_to {
    width: 100%;
}
.buyy_noww{
	width: 100%;
}
}
/*382*/


@media(max-width:360px){
.logo img {
  width: 62%;
}
.logo{
	margin-bottom:10px;
}
.make_search {
  width: 48% !important;
padding-right: 8px !important;
}
.type_search{
	width:70%;
}
.make_log {
  width: 49% !important;
}

.cnt ul{
	width:100% !important;
}
/*.dashboard_header {
	width: 43%;
}*/
.top_dash_l h4 {
	margin-bottom: 3px !important;
	font-size: 14px;
}
.top_dash_r h4 {
	font-size: 14px;
	margin-bottom:1px !important;
}
.top_dash_r span {
	font-size: 13px;
	margin: 0 !important;
}
.sub_btn{
	font-size:15px;
}
#my-button{
	width:90px;
	font-size: 16px;
}
#overlay{
	width:55%;
}
.prodd_desc ul li {
    font-size: 14px;
}
.item_img {
	margin-left: 5px;
}
.cell1 a {
	margin-left: 5px;
}
.blog_image {
    height: 120px;
}
.blog_details h3 a {
	font-size: 18px;
}
.rightt_btn_twoo input[type="button"] {
    margin: 0 0 10px 0;
    width: 100%;
}
.rightt_btn_twoo {
    width: 90%;
    margin: 2% 5%;
}
.fntnn2 {
    font-size: 15px !important;
}

.nav-tabs > li > a {
    font-size: 17px;
    padding: 6px 14px !important;
	margin-right: 8px !important;
}
.nav-tabs > li.active > a {
    font-size: 17px;
    padding: 6px 14px;
}
.linee {
	border:none !important;
	display:none;
}
.mid_banner {
    margin-right: 0%;
    height: 90px;
}
.banner .carousel-indicators {
    top: 70px;
}
.xxmgb a {
    margin: 3px 0 0 0 !important;
    font-size: 14px;
}
.language .btn-primary {
	padding: 9px 6px !important;
}
.submit_search {
	height: 35px;
	width: 38px;
}
.language .dropdown-menu > li > a{
	padding: 6px 6px !important;
	}
}
  @media only screen and (max-width: 1200px) {
    #mapCanvas {
	width: 594px;
	}
}
@media only screen and (max-width: 991px) {
    #mapCanvas {
	width: 429px;
	}
}
@media only screen and (max-width: 767px) {
    #mapCanvas {
	width: 100%;
	}
}
/*360*/









